<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/Login.css" rel="stylesheet">
    <title>Отчет по Командировочным Расходам</title>
</head>

<body>
<h1>Отчет по Командировочным Расходам</h1>

<h2>Общие Сведения</h2>
<p><strong>Сотрудник:</strong> Иван Иванов</p>
<p><strong>Период командировки:</strong> 2024-05-01 - 2024-05-10</p>
<p><strong>Место назначения:</strong> Москва</p>

<h2>Проживание</h2>


<h2>Проезд</h2>
<table border="1">
    <thead>
    <tr>
        <th>Дата</th>
        <th>Описание</th>
        <th>Стоимость</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>2024-05-01</td>
        <td>Билет на поезд: Санкт-Петербург - Москва</td>
        <td>3000 руб.</td>
    </tr>
    <tr>
        <td>2024-05-10</td>
        <td>Билет на поезд: Москва - Санкт-Петербург</td>
        <td>3000 руб.</td>
    </tr>
    </tbody>
</table>

<h2>Питание</h2>
<table border="1">
    <thead>
    <tr>
        <th>Дата</th>
        <th>Описание</th>
        <th>Стоимость</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>2024-05-01</td>
        <td>Завтрак в отеле</td>
        <td>500 руб.</td>
    </tr>
    <tr>
        <td>2024-05-01</td>
        <td>Обед в кафе "Брусника"</td>
        <td>700 руб.</td>
    </tr>
    <tr>
        <td>2024-05-01</td>
        <td>Ужин в ресторане "Таверна"</td>
        <td>1200 руб.</td>
    </tr>
    <!-- Добавьте больше строк по необходимости -->
    </tbody>
</table>

<h2>Прочие расходы</h2>
<table border="1">
    <thead>
    <tr>
        <th>Дата</th>
        <th>Описание</th>
        <th>Стоимость</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>2024-05-02</td>
        <td>Такси до места встречи</td>
        <td>800 руб.</td>
    </tr>
    <tr>
        <td>2024-05-05</td>
        <td>Канцелярские товары</td>
        <td>300 руб.</td>
    </tr>
    <tr>
        <td>2024-05-08</td>
        <td>Интернет в отеле</td>
        <td>1000 руб.</td>
    </tr>
    </tbody>
</table>

<h2>Итоговые Затраты</h2>
<p><strong>Общая стоимость проживания:</strong> 15000 руб.</p>
<p><strong>Общая стоимость проезда:</strong> 6000 руб.</p>
<p><strong>Общая стоимость питания:</strong> 2400 руб.</p>
<p><strong>Общая стоимость прочих расходов:</strong> 2100 руб.</p>
<p><strong>Итоговая стоимость командировки:</strong> 25500 руб.</p>

<h2>Заключение</h2>
<p>Командировка прошла успешно. Все расходы были необходимы для выполнения задач, поставленных перед сотрудником. В случае возникновения вопросов по отчету, прошу связаться с Иваном Ивановым.</p>

<h2>Подписи</h2>
<p><strong>Сотрудник:</strong> Иван Иванов</p>
<p><strong>Дата:</strong> 2024-05-12</p>
<p><strong>Руководитель:</strong> Петр Петров</p>
<p><strong>Дата:</strong> 2024-05-13</p>
</body>

</html>