<!DOCTYPE html>
<html>
<head>
    <title>Меню навигации</title>
</head>
<body>


<h1>Меню навигации</h1>
<form action="/admin/adminUpdated" method="GET">
    <button type="submit">Мой профиль</button>
</form>
<form action="/admin/businessRide">
    <button type="submit">Работа с командировками</button>
</form>
<form action="/admin/automobile">
    <button type="submit">Работа с автомобилями</button>
</form>
<form action="/admin/users">
    <button type="submit">Работа с пользователями</button>
</form>


</body>
</html>