<!DOCTYPE html>
<html>
<head>
    <title>Меню навигации</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/Login.css">
</head>
<body>


<h1>Меню навигации</h1>
<h1>Сделайте выбор</h1>
<form action="/admin/adminUpdated" method="GET">
    <button type="submit">Мой профиль</button>
</form>
<form action="/admin/businessRide">
    <button type="submit">Работа с командировками</button>
</form>
<form action="/admin/automobiles">
    <button type="submit">Работа с автомобилями</button>
</form>
<form action="/admin/getAllUserss">
    <button type="submit">Работа с пользователями</button>
</form>
<form action="/admin/tasks">
    <button type="submit">Работа с заданиями</button>
</form>
<form action="/admin/locations">
    <button type="submit">Работа с локациями</button>
</form>
<form action="/admin/report">
    <button type="submit">Отчеты по командировочным расходам</button>
</form>




</body>
</html>