<!DOCTYPE html>
<html>
<head>
    <title>Меню навигации</title>
</head>
<body>
<h1>Меню навигации</h1>
<button onclick="goToMyProfile()">Мой профиль</button>
<button onclick="goToMyTrips()">Мои поездки</button>
<button onclick="goToSelectTrip()">Выбрать поездку</button>

<script>
    function goToMyProfile() {
        window.location.href = "user/my-profile";
    }

    function goToMyTrips() {
        window.location.href = "user/my-trips";
    }

    function goToSelectTrip() {
        window.location.href = "user/select-trip";
    }
</script>
</body>
</html>