<!DOCTYPE html>
<html>
<head>
    <title>Страница входа</title>
</head>
<body>
<h1>Добро пожаловать !</h1>
<form action="/register" method="POST" enctype="application/x-www-form-urlencoded">

    <label for="username">Логин учетной записи </label>
    <input type="text" id="username" name="name" required><br>

    <label for="username">Пароль  учетной записи </label>
    <input type="text" id="password" name="password" required><br>
    <input type="submit" value="Войти">

    <label for="username">Email </label>
    <input type="text" id="email" name="email" required><br>

    <a href="/Registration" methods="get">Перейти на страницу регистрации</a>



</form>
</body>
</html>