<!DOCTYPE html>
<html>
<head>
    <title>User Details</title>
</head>
<body>
<h1>User Details</h1>
<form action="/manageRole">
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Position</th>
        <th>Login</th>
    </tr>
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.phone}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.position}"></td>
        <td th:text="${user.login}"></td>
    </tr>
    <input type="submit" value="Все верно, это мои даные">
</table>
</form>
</body>
</html>